* {
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 224, 224);
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  background-color: cornflowerblue;
}

nav img {
  max-width: 80px;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

main section {
  width: 90%;
}

/* Hero */
#hero {
  width: 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.45)), url(/assets/images/pond.jpg) no-repeat center / cover;
  height: 45%;
  color: white;
  position: relative;
  margin-bottom: 10%;
}

#hero .container .info h1 {
  color: white;
}

#hero .container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Cards */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.duck-item {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.duck-item ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.duck-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Footer */
footer {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
}